/*Style for first section in home page*/

#first-section{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30em;
    margin: 1em 2.5em 2em 0;
    justify-content: space-between;
}

#first-section-table{
    display: block;
    margin: 0;
    padding: 0;
    flex: 3 1;
    overflow: auto;
}

#first-section-tb{
    display: grid !important;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1f 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
}

.first-section-tr{
    border: 1px solid black;
    min-height: 10em;
    margin: 0 .25em;
}

#text-section{
    margin: 0;
    flex: 2 1;
    overflow: auto;
    padding: 0 .5em;
    margin: 0 0 0 2.5em;
}

#text-section-header{
    text-align: center;
    margin: 0 0 1em 0;
}

#paragraph-text{
    width: 100%;
    text-align: center;
}

/* style for viewports up to 1300px */
@media screen and (max-width: 1300px){
    #first-section{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        width: 100%;
        height: auto;
        margin: 1em 2.5em 2em 0;
        justify-content: space-between;
    }
    
    #first-section-table{
        display: block;
        flex: none;
        margin: 1em 0;
        padding: 0;
        height: 20em !important;
        overflow: auto;
    }
    
    #first-section-tb{
        display: grid !important;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1f 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        margin: 0;
        padding: 0;
    }
    
    .first-section-tr{
        border: 1px solid black;
        min-height: auto;
        margin: 0 .25em;
    }
    
    #text-section{
        overflow: auto;
        padding: 0 .5em;
        margin: 1em 0;
        height: 20em !important;
        flex: none;
    }
    
    #text-section-header{
        text-align: center;
        margin: 0 0 1em 0;
    }
    
    #paragraph-text{
        width: 100%;
        text-align: center;
    }
}